.page-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #f6f6f6;

  .answer-form {
    width: 100%;
    min-width: 650px;
    padding: 0 24px;
    overflow: auto;
    display: flex;
    justify-content: center;
  }
}

:global {
  body::-webkit-scrollbar-track {
    background-color: #f6f6f6;
  }
}
