.answer-form {
  width: 100%;
  min-width: 800px;
  overflow: auto;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;

  .form-wrapper {
    width: 800px;
    height: 1200px;
    background-color: #fff;
  }
}

:global {
  body::-webkit-scrollbar-track {
    background-color: #f6f6f6;
  }
}